<form [formGroup]="post" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Post Title</mat-label>
    <input  matInput
            name="postTitle"
            formControlName="title"
            placeholder="Ex. Roming in street of Europe is really awesome">
   <!--  <p *ngIf="!postTitle.valid && postTitle.touched">
      <span *ngIf="postTitle.errors.required">Title field is required</span>
    </p> -->
    <mat-hint>This field is required !</mat-hint>
    <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput
              formControlName="description"
              placeholder="Write something more you feel">
    </textarea>
    <mat-hint>This field is required !</mat-hint>
    <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <button mat-raised-button
          color="primary"
          [disabled]="!post.valid"
          (click)="addPost()">Add Post</button>

  <div style="text-align:center">
    <file-upload [ddarea]="showDdArea" (complete)="onFileComplete($event)"></file-upload>
  </div>

</form>

<div style="text-align:center">
  <p>Upload a media with your new post</p>
  <mat-slide-toggle color="warn" name="showDdArea" [(ngModel)]="showDdArea">Show Drag and Drop Area</mat-slide-toggle>
</div>
